#home {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#home #box {
    background-color: var(--secondary-color);
    width: 800px;
    height: 700px;
    border-radius: 40px;
}

#home #guess-box {
    user-select: none;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#home #word-input {
    padding: 0 5px;
    outline: 0;
    border: 0;
    border-radius: 7px;
    width: 200px;
    height: 40px;
    caret-color: white;
    color: white;
    font-size: 20px;
    background-color: var(--guess-box-color);
}

#home #guess-button {
    cursor: pointer;
    width: fit-content;
    padding: 7px 10px;
    border-radius: 7px;
    height: 20px;
    background-color: var(--guess-button-color);
}

#home #guess-button:active {
    filter: brightness(0.9);
}

#home #guess-button > span {
    color: white;
    font-size: 20px;
}

#home #word-table {
    color: white;
}

#home #word-table td:last-child {
    border-radius: 5px;
    width: 120px;
    background-color: lightslategrey;
    overflow: hidden;
}

#home #word-table td:last-child > div {
    height: 20px;
    border-radius: 5px;
}